body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  margin: 0;
  user-select: none;
  width: 350px;
  overflow: hidden;
  background-color: #fff;
  color: #4d5156;
}
header {
  border-bottom: solid 1px #d9d9d9;
  font-size: 140%;
  text-align: center;
  padding: 15px;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 10px;
}
input[type=checkbox] {
  margin-right: 10px;
  outline: none;
}
li.group {
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 0;
}
li.group span {
  padding: 5px 0 5px 10px;
}
li span[data-cmd^="release"] {
  width: 16px;
  background: url('release.svg') no-repeat center center;
  background-size: 16px;
}

[data-cmd] {
  cursor: pointer;
}
[data-cmd]:hover {
  background-color: #f0f0f0;
}

.button {
  background-color: #f0f0f0;
  height: 42px;
  line-height: 42px;
  text-align: center;
}
.button:hover {
  background-color: #d9d9d9;
}
[data-cmd]:active,
.button:active {
  opacity: 0.5;
}
[data-disabled=true] {
  opacity: 0.3;
  pointer-events: none;
}
.hbox {
  display: flex;
  align-items: center;
}
.flex {
  flex: 1;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  white-space: nowrap;
  padding: 10px 0;
}
.nav > span {
  background-color: #f0f0f0;
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav > span:hover {
  background-color: #d9d9d9;
}
.mlt {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  white-space: nowrap;
  align-items: center;
}
.mlt > span[data-cmd] {
  background-color: #f0f0f0;
  padding: 10px 0;
  cursor: pointer;
  min-width: 80px;
  text-align: center;
  position: relative;
}
.mlt > span[data-cmd]:hover {
  background-color: #d9d9d9;
}
.mlt span:last-child::before {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  top: calc(50% - 6px);
}
.mlt:hover span:last-child::before {
  display: none;
}

[data-cmd=close] {
  position: relative;
}
[data-cmd=close]::before,
[data-cmd=close]::after {
  content: '';
  width: 1px;
  height: 12px;
  background-color: #d9d9d9;
  position: absolute;
  top: calc(50% - 6px);
}
[data-cmd=close]::before {
  left: 0;
}
[data-cmd=close]::after {
  right: 0;
}
.nav:hover [data-cmd=close]::before,
.nav:hover [data-cmd=close]::after {
  display: none;
}
[data-cmd=move-next]::after {
  background: url(move-next.svg) center center no-repeat;
  margin-left: 5px;
}
[data-cmd=move-previous]::before {
  background: url(move-previous.svg) center center no-repeat;
  margin-right: 5px;
}
[data-cmd=move-next]::after,
[data-cmd=move-previous]::before {
  content: '';
  background-size: 12px 12px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
