body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  max-width: 80%;
  margin: auto;
}
@media screen and (max-width: 600px)  {
  body {
    margin: 10px;
    max-width: unset;
  }
}
@supports (-moz-appearance:none) {
  body {
    margin: 10px auto;
  }
  textarea {
    padding: 5px;
  }
  button,
  input[type=submit],
  input[type=button] {
    height: 24px;
    color: #444;
    background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
    text-shadow: rgb(240, 240, 240) 0 1px 0;
    border: solid 1px rgba(0, 0, 0, 0.25);
  }
  input[type=button]:disabled {
    opacity: 0.5;
  }
}
input[type=number] {
  width: 60px;
  height: 22px;
  box-sizing: border-box;
}
th {
  height: 32px;
  background-color: rgba(0, 0, 0, 0.05);
  text-indent: 10px;
}
td:nth-child(3) {
  text-align: right;
}
textarea {
  width: 100%;
  box-sizing: border-box;
}
ol {
  padding: 0 0 0 20px;
  font-size: 12px;
}
.admin {
  background-color: #ffffed;
  border: solid 1px #e8ec3a;
  padding: 10px;
  margin: 15px 0;
}
